body{
    background: #f7f7f7;
    font-family: Verdana;
}


#title, .subtitle, .post_title{
   color:#505050; 
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #99098d
}
.home_image{
    border: 1px solid #505050;
    border-radius: 50px;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: rgb(238, 163, 163);
    padding: 10px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.post_image{
    margin-bottom: 15px;
}

.contacts_list{
    list-style-type: none;
    padding-left: 15px;
}
.contacts_list li a{
    color: rgb(7, 168, 55);
    text-decoration: none;
}